<%= form_for @changeset, Routes.topic_path(@conn, :update, @topic), fn f -> %> <%# lecture 90 for explanation of why we pass the form a changeset %>
    <div class='form-group'>
        <%= text_input f, :title, placeholder: "Title", class: 'form-control' %>
        <%= error_tag f, :title %>
    </div>

    <%= submit "Save Topic", class: "btn btn-primary" %>

<% end %>
